<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">




<suite name="TestSuite"  >

<test name="iStoxRegistrationDetails">
<classes>
<class name="iSTOXRegistrationForm.ISTOXTestCases">
<methods>
 <include name="iStoxRegistration" />
 </methods>

</class>
</classes>
</test>
</suite>